.Team-message-section{
    /* margin: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgb(213, 223, 258);
    border-radius: 25px;
    margin: 30px;
    padding: 10px;
}

.Team-message{
    background-color: rgb(247, 247, 247);
    justify-content: left;
    
}